.body { 
    background-color: $color-backgraund;
    font-size: 14px;
    font-family: "opsans", sans-serif;
}
.container {
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--center {
        justify-content: center;
    }

    &--box {
        border-radius: 25px;
        background-color: $color-grey;
    }

  }

@media (min-width: 768px) {
    .container { 
        width: 768px;
    }
    .container__index-footer {
        width: 320px;
    }
}

@media (min-width: 1200px) {
    .container { 
        width: 1200px;
        &--between {
            justify-content: space-between;
            align-items: self-start;
        }
    }
    .container__index-footer {
        width: 320px;
    }


}
