.header {
    background-color: $color-grey;
    padding-top: 10px;
    justify-content: flex-start;
    padding-bottom: 35px;

    &__flex {
        display: flex;
        flex-wrap: wrap;
    }
    &__portal {
        border-left: 3px solid #122F5E;
        border-right: 3px solid #122F5E;
        display: flex;
        flex-wrap: wrap;
        width: 94px;
        margin-left: 8px;
        position: relative;
    }
    &__portal-img {
        position: absolute;
        top: 9px;
        left: 4px;
    }
    &__portal-text {
        width: 99px;
        font-size: 6px;
        padding-left: 31px;
        padding-top: 6px;
        text-align: center;
        color: $color-blue;
    }
    &__link {
        display: flex;
        position: relative;
        padding-left: 19px;
        padding-top: 10px;
        justify-content: space-between;
        width: 100px;
        align-items: flex-start;
    }

    &__link--mail {
        background-image: url(../images/mail.png);
    }

    &__link--phone {
        background-image: url(../images/phone.png);
    }
    &__link-item {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: 0;
        background-size: cover;
    }

    &__link-menu {
        margin: 0;
        background-repeat: no-repeat;
        background-position: 0;
        background-size: cover;
        width: 25px;
        height: 25px;
        background-image: url(../images/menu.png);
    }

    &__link-image{
        display: inline;
        width: 25px;
        height: 25px;
    }

    &__menu--none {
        display: none;
    }

    &__menu--block {
        display: block;
    }
    &__menu { 
        position: absolute;
        top: 60px;
        right: 0;
        width: 300px;
        background: $color-grey;
        box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
        padding-left: 20px;
    }

    &__menu-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    &__menu-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &--link {
        text-decoration: none;
        color: $color-blue;
        border-bottom: 1px solid $color-blue;
    }

    // &__menu-svg {
    //     width: 15px;
    //     height: 15px;
    //     display: absolute;
    //     top: 0;
    //     right: 0;
    // }
}






@media (min-width: 768px) {
    .header {
        width: 768px;
        justify-content: space-between;
        padding-top: 26px;

        &__logo {
            padding-top: 18px;
            padding-left: 13px;
        }

        &__logo-img {
            width: 183px;
            height: 101px;
        }

        &__portal {
            width: 301px;
            margin-left: 0px;
        }

        &__portal-img {
            width: 81px;
            height: 78px;
            top: 27px;
            left: 5px;
        }

        &__portal-text {
            width: 100%;
            font-size: 18px;
            padding-left: 97px;
            padding-top: 10px;
        }

        &__link {
            width: 210px;
            padding: 35px 0px 0px 0px;
        }

        &__link-item {
            width: 61px;
            height: 61px;
        }

        &__link-menu {
            width: 70px;
            height: 70px;
        }

        &__menu{ 
            top: 109px;
        }
    }

}

@media (min-width: 1200px) {

    .header {
        width: 1200px;
        padding-top: 10px;
        justify-content: flex-start;

        &__logo {
            padding-left: 18px;
            padding-top: 11px;
        }

        &__portal {
            width: 265px;
            margin-left: 11px;
        }

        &__portal-img {
            width: 73px;
            height: 70px;
        }

        &__portal-text {
            font-size: 15px;
            padding-left: 69px;
            padding-top: 28px;
        }

        &__link {
            width: 630px;
            margin-left: 25px;
            padding-top:25px;
        }

        &__link-item {
            width: 132px;
            padding-left: 85px;
            position: relative;
            text-align: center;
            color:$color-blue;
            text-decoration: none;
            background-size: contain;
        }

        &__link-image {
            position: absolute;
            top: -3px;
            left: 1px;
        }

        &__link-text {
            font-size: 15px;
            margin-bottom: 10px;
            margin-top: 0;
            background-image: none;
        }

        &__menu{ 
            top: 84px;
        }

    }

}
