.prodject {
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: flex-start;
    &__item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;

    }
    &__img {
        display: block;
        width: 129px;
        height: 131px;
        padding: 13px 3px 10px 10px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 70.83%), #B6B6B6;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25), -6px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
    }

    &__caption {
        color: $color-blue;
        width: 100%;
    }

    &__relation {
        color: $color-light-blue;
        width: 100%;
        padding-left: 40px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 30px;
    }

    &__relation--client {
        background-image: url("../images/company.png");
    }

    &__relation--equip {
        background-image: url("../images/setting-blue.png");
    }

    &__relation-caption {
        font-weight: bold;
    }

    &__relation-text {
        margin-left: 0;
    }

    &__letter {
        width: 300px;
        height: 424px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-6px 6px 6px rgba(0, 0, 0, 0.25));
        border-radius: 25px;
    }

}

@media (min-width: 768px) {
    .prodject {
        &__item {
            width: 360px;
        }
    }

    .prodject article:nth-child(2) {
        order: 3;
    }
    .prodject article:nth-child(4) {
        order: 2;
    }
    .prodject article:nth-child(1) {
        order: 3;
    }
    .prodject article:nth-child(3) {
        order: 3;
    }

}

@media (min-width: 1200px) {

    .prodject {
        justify-content: space-around;
        &__item {
            width: 470px;
        }
    }
    .prodject article:nth-child(2) {
        order: 3;
    }
    .prodject article:nth-child(4) {
        order: 2;
    }
    .prodject article:nth-child(1) {
        order: 3;
    }
    .prodject article:nth-child(3) {
        order: 3;
    }
}