.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }

.visually-hidden-mobile {
    display: none;
}

.visually-hidden-header-mobile {
    display: none;
}

.visually-hidden--slider {
    display: none;
}

@media (min-width: 768px) {
    .visually-hidden--slider { 
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .visually-hidden-header-mobile {
        display: inline-block;
    }
}
