@font-face {
  font-family: "opsans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "opsansbold";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
.body {
  background-color: #D9D9D9;
  font-size: 14px;
  font-family: "opsans", sans-serif;
}

.container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-mobile {
  display: none;
}

.visually-hidden-header-mobile {
  display: none;
}

@media (min-width: 1200px) {
  .visually-hidden-header-mobile {
    display: inline-block;
  }
}
.header {
  background-color: #D7D7D7;
  padding-top: 10px;
  justify-content: flex-start;
  padding-bottom: 35px;
}
.header__flex {
  display: flex;
  flex-wrap: wrap;
}
.header__portal {
  border-left: 3px solid #122F5E;
  border-right: 3px solid #122F5E;
  display: flex;
  flex-wrap: wrap;
  width: 94px;
  margin-left: 8px;
  position: relative;
}
.header__portal-img {
  position: absolute;
  top: 9px;
  left: 4px;
}
.header__portal-text {
  width: 99px;
  font-size: 6px;
  padding-left: 31px;
  padding-top: 6px;
  text-align: center;
  color: #122F5E;
}
.header__link {
  display: flex;
  position: relative;
  padding-left: 19px;
  padding-top: 10px;
  justify-content: space-between;
  width: 100px;
  align-items: flex-start;
}
.header__link--mail {
  background-image: url(../images/mail.png);
}
.header__link--phone {
  background-image: url(../images/phone.png);
}
.header__link-item {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}
.header__link-menu {
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  width: 25px;
  height: 25px;
  background-image: url(../images/menu.png);
}
.header__link-image {
  display: inline;
  width: 25px;
  height: 25px;
}

@media (min-width: 768px) {
  .header {
    width: 768px;
    justify-content: space-between;
    padding-top: 26px;
  }
  .header__logo {
    padding-top: 18px;
    padding-left: 13px;
  }
  .header__logo-img {
    width: 183px;
    height: 101px;
  }
  .header__portal {
    width: 301px;
    margin-left: 0px;
  }
  .header__portal-img {
    width: 81px;
    height: 78px;
    top: 27px;
    left: 5px;
  }
  .header__portal-text {
    width: 100%;
    font-size: 18px;
    padding-left: 97px;
    padding-top: 10px;
  }
  .header__link {
    width: 210px;
    padding: 35px 0px 0px 0px;
  }
  .header__link-item {
    width: 61px;
    height: 61px;
  }
  .header__link-menu {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1200px;
    padding-top: 10px;
    justify-content: flex-start;
  }
  .header__logo {
    padding-left: 18px;
    padding-top: 11px;
  }
  .header__portal {
    width: 265px;
    margin-left: 11px;
  }
  .header__portal-img {
    width: 73px;
    height: 70px;
  }
  .header__portal-text {
    font-size: 15px;
    padding-left: 69px;
    padding-top: 28px;
  }
  .header__link {
    width: 630px;
    margin-left: 25px;
    padding-top: 25px;
  }
  .header__link-item {
    width: 132px;
    padding-left: 85px;
    position: relative;
    text-align: center;
    color: #122F5E;
    text-decoration: none;
    background-size: contain;
  }
  .header__link-image {
    position: absolute;
    top: -3px;
    left: 1px;
  }
  .header__link-text {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 0;
    background-image: none;
  }
}
.footer {
  background-color: #245287;
  color: #D7D7D7;
  justify-content: flex-start;
  padding-top: 50px;
  width: 100%;
}
.footer__item {
  width: 320px;
  padding-left: 17px;
}
.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
}
.footer__adress-item {
  padding-bottom: 8px;
}
.footer__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #D7D7D7;
}
.footer--link {
  text-decoration: none;
  color: #D7D7D7;
}
.footer__menu-list {
  margin-top: 18px;
}
.footer__menu-item {
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .footer__item {
    width: 200px;
    padding-left: 50px;
    margin-right: 5px;
  }
  .footer__menu {
    font-size: 22px;
  }
  .footer__list {
    margin-top: 0;
  }
  .footer__outer-caption {
    margin-top: 0;
    font-style: normal;
  }
  .footer__outer-item {
    padding-bottom: 17px;
    font-size: 15px;
  }
  .footer__logo-img {
    width: 200px;
    height: 61px;
  }
  .visually-hidden-mobile {
    display: block;
  }
}
@media (min-width: 1200px) {
  .footer__item {
    width: 315px;
  }
  .footer__logo {
    justify-content: flex-start;
    margin-bottom: 12px;
  }
  .footer__logo-img {
    width: 264px;
    height: 80px;
  }
  .footer__menu-item {
    margin-bottom: 25px;
  }
}
.caption {
  background-image: url(../images/background-even.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.caption__text {
  color: #D7D7D7;
  font-weight: bold;
  font-size: 36px;
  padding-left: 25px;
}
.caption--index {
  background-image: url(../images/1.png);
}

.contact {
  justify-content: center;
}
.contact__map {
  width: 320px;
  height: 158px;
}
.contact__box {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  color: #122F5E;
  font-size: 20px;
}
.contact__item {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 1px 1px;
  padding-left: 45px;
  margin-bottom: 25px;
}
.contact__item--adress {
  background-image: url("../images/adress.png");
}
.contact__item--phone {
  background-image: url("../images/phone.png");
}
.contact__item--mail {
  background-image: url("../images/mail.png");
}
.contact__item--time {
  background-image: url("../images/time.png");
}
.contact__text--bold {
  font-family: "opsansbold";
  font-style: bold;
}
.contact__text {
  margin-top: 0;
  margin-bottom: 0;
}
.contact__about-text--bold {
  font-family: "opsansbold";
  font-style: bold;
}
.contact__about-company {
  width: 280px;
  border-radius: 25px;
  background-color: #6E8EB4;
  color: #D7D7D7;
  font-size: 13px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  margin-bottom: 25px;
}
.contact__link {
  text-decoration: none;
  color: #122F5E;
}

@media (min-width: 768px) {
  .contact__map {
    width: 768px;
    height: 380px;
  }
  .contact__about-company {
    width: 734px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .contact__map {
    width: 1060px;
    height: 524px;
  }
  .contact__about-company {
    width: 1100px;
    font-size: 20px;
  }
}