@font-face {
  font-family: "opsans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "opsansbold";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
.body {
  background-color: #D9D9D9;
  font-size: 14px;
  font-family: "opsans", sans-serif;
}

.container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container--center {
  justify-content: center;
}
.container--box {
  border-radius: 25px;
  background-color: #D7D7D7;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container__index-footer {
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .container--between {
    justify-content: space-between;
    align-items: center;
  }
  .container__index-footer {
    width: 320px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-mobile {
  display: none;
}

.visually-hidden-header-mobile {
  display: none;
}

.visually-hidden--slider {
  display: none;
}

@media (min-width: 768px) {
  .visually-hidden--slider {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .visually-hidden-header-mobile {
    display: inline-block;
  }
}
.header {
  background-color: #D7D7D7;
  padding-top: 10px;
  justify-content: flex-start;
  padding-bottom: 35px;
}
.header__flex {
  display: flex;
  flex-wrap: wrap;
}
.header__portal {
  border-left: 3px solid #122F5E;
  border-right: 3px solid #122F5E;
  display: flex;
  flex-wrap: wrap;
  width: 94px;
  margin-left: 8px;
  position: relative;
}
.header__portal-img {
  position: absolute;
  top: 9px;
  left: 4px;
}
.header__portal-text {
  width: 99px;
  font-size: 6px;
  padding-left: 31px;
  padding-top: 6px;
  text-align: center;
  color: #122F5E;
}
.header__link {
  display: flex;
  position: relative;
  padding-left: 19px;
  padding-top: 10px;
  justify-content: space-between;
  width: 100px;
  align-items: flex-start;
}
.header__link--mail {
  background-image: url(../images/mail.png);
}
.header__link--phone {
  background-image: url(../images/phone.png);
}
.header__link-item {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}
.header__link-menu {
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  width: 25px;
  height: 25px;
  background-image: url(../images/menu.png);
}
.header__link-image {
  display: inline;
  width: 25px;
  height: 25px;
}
.header__menu--none {
  display: none;
}
.header__menu--block {
  display: block;
}
.header__menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  background: #D7D7D7;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}
.header__menu-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.header__menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header--link {
  text-decoration: none;
  color: #122F5E;
  border-bottom: 1px solid #122F5E;
}
.header__menu-svg {
  width: 15px;
  height: 15px;
  display: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .header {
    width: 768px;
    justify-content: space-between;
    padding-top: 26px;
  }
  .header__logo {
    padding-top: 18px;
    padding-left: 13px;
  }
  .header__logo-img {
    width: 183px;
    height: 101px;
  }
  .header__portal {
    width: 301px;
    margin-left: 0px;
  }
  .header__portal-img {
    width: 81px;
    height: 78px;
    top: 27px;
    left: 5px;
  }
  .header__portal-text {
    width: 100%;
    font-size: 18px;
    padding-left: 97px;
    padding-top: 10px;
  }
  .header__link {
    width: 210px;
    padding: 35px 0px 0px 0px;
  }
  .header__link-item {
    width: 61px;
    height: 61px;
  }
  .header__link-menu {
    width: 70px;
    height: 70px;
  }
  .header__menu {
    top: 109px;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1200px;
    padding-top: 10px;
    justify-content: flex-start;
  }
  .header__logo {
    padding-left: 18px;
    padding-top: 11px;
  }
  .header__portal {
    width: 265px;
    margin-left: 11px;
  }
  .header__portal-img {
    width: 73px;
    height: 70px;
  }
  .header__portal-text {
    font-size: 15px;
    padding-left: 69px;
    padding-top: 28px;
  }
  .header__link {
    width: 630px;
    margin-left: 25px;
    padding-top: 25px;
  }
  .header__link-item {
    width: 132px;
    padding-left: 85px;
    position: relative;
    text-align: center;
    color: #122F5E;
    text-decoration: none;
    background-size: contain;
  }
  .header__link-image {
    position: absolute;
    top: -3px;
    left: 1px;
  }
  .header__link-text {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 0;
    background-image: none;
  }
  .header__menu {
    top: 84px;
  }
}
.footer {
  background-color: #245287;
  color: #D7D7D7;
  justify-content: flex-start;
  padding-top: 50px;
  width: 100%;
}
.footer__item {
  width: 320px;
  padding-left: 17px;
}
.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
}
.footer__adress-item {
  padding-bottom: 8px;
}
.footer__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #D7D7D7;
}
.footer--link {
  text-decoration: none;
  color: #D7D7D7;
}
.footer__menu-list {
  margin-top: 18px;
}
.footer__menu-item {
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .footer__item {
    width: 200px;
    padding-left: 50px;
    margin-right: 5px;
  }
  .footer__menu {
    font-size: 22px;
  }
  .footer__list {
    margin-top: 0;
  }
  .footer__outer-caption {
    margin-top: 0;
    font-style: normal;
  }
  .footer__outer-item {
    padding-bottom: 17px;
    font-size: 15px;
  }
  .footer__logo-img {
    width: 200px;
    height: 61px;
  }
  .visually-hidden-mobile {
    display: block;
  }
}
@media (min-width: 1200px) {
  .footer__item {
    width: 315px;
  }
  .footer__logo {
    justify-content: flex-start;
    margin-bottom: 12px;
  }
  .footer__logo-img {
    width: 264px;
    height: 80px;
  }
  .footer__menu-item {
    margin-bottom: 25px;
  }
}
.caption {
  background-image: url(../images/background-even.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.caption__text {
  color: #D7D7D7;
  font-weight: bold;
  font-size: 36px;
  padding-left: 25px;
}
.caption--index {
  background-image: url(../images/1.png);
}
.caption__text--long {
  font-size: 16px;
}

.contact {
  justify-content: center;
}
.contact__map {
  width: 320px;
}
.contact__box {
  margin-top: 50px;
  list-style: none;
  padding-left: 0;
  color: #122F5E;
  font-size: 20px;
}
.contact__item {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 1px 1px;
  padding-left: 45px;
  margin-bottom: 25px;
}
.contact__item--adress {
  background-image: url("../images/adress.png");
}
.contact__item--phone {
  background-image: url("../images/phone.png");
}
.contact__item--mail {
  background-image: url("../images/mail.png");
}
.contact__item--time {
  background-image: url("../images/time.png");
}
.contact__text--bold {
  font-family: "opsansbold";
  font-style: bold;
}
.contact__text {
  margin-top: 0;
  margin-bottom: 0;
}
.contact__about-text--bold {
  font-family: "opsansbold";
  font-style: bold;
}
.contact__about-company {
  width: 280px;
  border-radius: 25px;
  background-color: #6E8EB4;
  color: #D7D7D7;
  font-size: 13px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  margin-bottom: 25px;
}
.contact__link {
  text-decoration: none;
  color: #122F5E;
}

@media (min-width: 768px) {
  .contact__map {
    width: 768px;
  }
  .contact__about-company {
    width: 734px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .contact__map {
    width: 1060px;
  }
  .contact__about-company {
    width: 1100px;
    font-size: 20px;
  }
}
.about-us {
  margin-top: 20px;
}
.about-us__box {
  background-color: #6E8EB4;
  color: #D7D7D7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 20px;
  border-radius: 25px;
}
.about-us__img {
  width: 300px;
  height: 207px;
}
.about-us__caption {
  width: 280px;
  padding-left: 55px;
  background-image: url("../images/atsprem.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-us__text {
  width: 280px;
}

@media (min-width: 768px) {
  .about-us {
    width: 768px;
  }
  .about-us__img {
    width: 450px;
    height: 311px;
  }
  .about-us__caption {
    width: 230px;
  }
}
@media (min-width: 1200px) {
  .about-us {
    width: 1200px;
    align-items: flex-start;
  }
  .about-us__img {
    width: 753px;
    height: 520px;
  }
  .about-us__box {
    width: 370px;
  }
}
.about-info {
  justify-content: center;
}
.about-info--services {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #122F5E;
}
.about-info__desc {
  color: #6E8EB4;
}
.about-info__list {
  background-color: #6E8EB4;
  color: #D7D7D7;
  margin-top: 20px;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  border-radius: 25px;
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.about-info__list--services {
  background-color: #D7D7D7;
  color: #122F5E;
}
.about-info__item {
  width: 300px;
  padding-left: 55px;
  background-position: 10px 15px;
  background-repeat: no-repeat;
  background-size: 30px;
}
.about-info__item--only {
  background-image: url("../images/only.png");
}
.about-info__item--case {
  background-image: url("../images/case.png");
}
.about-info__item--setting {
  background-image: url("../images/setting.png");
}
.about-info__item--quality {
  background-image: url("../images/quality.png");
}
.about-info__item--reliability {
  background-image: url("../images/save.png");
}
.about-info__item--operativeness {
  background-image: url("../images/fast.png");
}
.about-info__caption {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .about-info__list {
    width: 768px;
  }
  .about-info__item {
    width: 200px;
    padding-left: 0;
    padding-top: 50px;
    background-position: center top;
    background-size: 45px;
    text-align: center;
  }
  .about-info__caption {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .about-info {
    font-size: 16px;
  }
  .about-info__list {
    width: 768px;
  }
  .about-info__item {
    width: 200px;
  }
  .about-info__caption--services {
    width: 100%;
    text-align: center;
  }
  .about-info__list--services {
    width: 1200px;
    justify-content: space-around;
  }
  .about-info__item--services {
    background-size: 60px;
    padding-top: 70px;
  }
}
.sertificate {
  background-color: #7EA4C7;
  color: #D7D7D7;
  padding-bottom: 25px;
  padding-top: 25px;
}
.sertificate__caption {
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin-top: 0;
}
.sertificate__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sertificate__figure {
  width: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sertificate__img {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25), -6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 70.83%), #B6B6B6;
  width: 50px;
}
.sertificate__figcaption {
  background-color: #6E8EB4;
  border-radius: 25px;
  padding: 25px 5px 20px 5px;
  background-image: url("../images/only.png");
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: 20px;
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
}

@media (min-width: 768px) {
  .sertificate__list {
    align-items: flex-end;
  }
  .sertificate__item {
    width: 250px;
  }
  .sertificate__figure {
    width: 200px;
  }
  .sertificate__img {
    width: 140px;
  }
  .sertificate__figcaption {
    width: 140px;
  }
  .sertificate__item {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .sertificate {
    font-size: 16px;
  }
  .sertificate__caption {
    text-align: left;
    font-size: 24px;
  }
  .sertificate__item {
    width: 350px;
  }
  .sertificate__figure {
    width: 350px;
  }
  .sertificate__img {
    width: 350px;
  }
  .sertificate__figcaption {
    width: 350px;
  }
}
.specialists {
  color: #122F5E;
}
.specialists__caption {
  width: 100%;
}
.specialists__box {
  width: 100%;
  margin-bottom: 20px;
}
.specialists__personal {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 30px;
  margin-right: 0;
}
.specialists__personal-img {
  width: 300px;
}
.specialists__item {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 20px;
  margin-right: 0;
}
.specialists__item-img {
  width: 100px;
}

@media (min-width: 768px) {
  .specialists {
    padding-bottom: 25px;
  }
  .specialists__caption {
    margin-bottom: 0;
  }
  .specialists__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-top: 50px;
  }
  .specialists__list {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .specialists__item {
    width: 200px;
  }
  .specialists__item-img {
    width: 200px;
  }
  .specialists__item-caption {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .specialists__list {
    width: 700px;
  }
  .specialists__item-img {
    width: 300px;
  }
}
.prodject {
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: flex-start;
}
.prodject__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.prodject__img {
  display: block;
  width: 129px;
  height: 131px;
  padding: 13px 3px 10px 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 70.83%), #B6B6B6;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25), -6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.prodject__caption {
  color: #122F5E;
  width: 100%;
}
.prodject__relation {
  color: #7EA4C7;
  width: 100%;
  padding-left: 40px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 30px;
}
.prodject__relation--client {
  background-image: url("../images/company.png");
}
.prodject__relation--equip {
  background-image: url("../images/setting-blue.png");
}
.prodject__relation-caption {
  font-weight: bold;
}
.prodject__relation-text {
  margin-left: 0;
}
.prodject__letter {
  width: 300px;
  height: 424px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-6px 6px 6px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
}

@media (min-width: 768px) {
  .prodject__item {
    width: 360px;
  }
  .prodject article:nth-child(2) {
    order: 3;
  }
  .prodject article:nth-child(4) {
    order: 2;
  }
  .prodject article:nth-child(1) {
    order: 3;
  }
  .prodject article:nth-child(3) {
    order: 3;
  }
}
@media (min-width: 1200px) {
  .prodject {
    justify-content: space-around;
  }
  .prodject__item {
    width: 470px;
  }
  .prodject article:nth-child(2) {
    order: 3;
  }
  .prodject article:nth-child(4) {
    order: 2;
  }
  .prodject article:nth-child(1) {
    order: 3;
  }
  .prodject article:nth-child(3) {
    order: 3;
  }
}
.prodject-map {
  background-color: #7EA4C7;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #6E8EB4;
}
.prodject-map__img {
  width: 310px;
  height: 120px;
  z-index: 1;
  position: absolute;
  top: 0;
}
.prodject-map__box {
  background-color: #D7D7D7;
  padding: 105px 10px 15px 10px;
  border-radius: 10px;
  z-index: 0;
  margin-top: 20px;
}
.prodject-map__caption {
  padding-left: 33px;
  background-image: url("../images/project-map-icon.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto;
}

.prodject-map div {
  position: relative;
}

@media (min-width: 768px) {
  .prodject-map__img {
    width: 650px;
    height: 251px;
  }
  .prodject-map__box {
    padding: 200px 10px 15px 10px;
    margin-top: 46px;
  }
}
@media (min-width: 1200px) {
  .prodject-map {
    font-size: 20px;
  }
  .prodject-map__img {
    width: 1042px;
    height: 404px;
  }
  .prodject-map__box {
    padding: 345px 110px 15px 51px;
    margin-top: 55px;
  }
}
.btn__next {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #245287;
  color: #D7D7D7;
  font-size: 16px;
  border-radius: 25px;
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}
.btn__next--white {
  background-color: #FFFFFF;
  color: #7EA4C7;
  margin-left: 20px;
}
.btn__page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn__link {
  background-color: #E6E6E6;
  border-radius: 50%;
  padding: 5px 9px;
  text-decoration: none;
  color: #D7D7D7;
  margin-top: 20px;
  margin-left: 10px;
}
.btn__next--services {
  width: 200px;
}

.index-services {
  padding-top: 25px;
  padding-bottom: 25px;
}
.index-services__box {
  background-color: #7EA4C7;
  color: #FFFFFF;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.index-services__caption {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.index-services__text {
  padding-left: 20px;
  padding-right: 20px;
}
.index-services__list-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.index-services__list {
  margin: 0;
  padding-left: 20px;
  padding-right: 10px;
}
.index-services__item {
  list-style: none;
  margin-bottom: 25px;
}
.index-services__item-link {
  color: #122F5E;
  background-color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  text-decoration: none;
}

.index-services__box:nth-of-type(even) {
  background-color: #122F5E;
}

@media (min-width: 768px) {
  .index-services__text {
    display: inline-block;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .index-services {
    font-size: 18px;
  }
  .index-services__box {
    width: 500px;
  }
  .index-services__list {
    padding: 0;
  }
  .index-services__text {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .index-services__caption {
    width: 460px;
    font-size: 24px;
  }
  .index-services__text {
    font-size: 20px;
  }
  .index-services__item {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.index-client {
  background-color: #6E8EB4;
  color: #D7D7D7;
}
.index-client__box--image {
  padding-top: 100px;
}
.index-client__bg-img {
  margin-top: -100px;
  width: 300px;
  height: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-left: 10px;
}
.index-client__caption {
  width: 100%;
  text-align: center;
}
.index-client__box {
  background-color: #D7D7D7;
  color: #6E8EB4;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.index-client__box-caption {
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.index-client__box-link {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
.index-client__link {
  width: 45%;
  text-decoration: none;
  color: #6E8EB4;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.index-client__list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.index-client__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.index-client__slider-img {
  width: 220px;
  height: auto;
  margin: 0 auto;
}
.index-client__slider-caption {
  padding-top: 20px;
  text-align: center;
}
.index-client__box--blue {
  background-color: #122F5E;
  color: #D7D7D7;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index-client__link:nth-last-of-type(even) {
  border-right: 2px dashed #6E8EB4;
}

@media (min-width: 768px) {
  .index-client__box--image {
    margin-top: 100px;
  }
  .index-client__bg-img {
    width: 600px;
    margin-left: 85px;
  }
  .index-client__slider-img {
    width: 300px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .index-client {
    font-size: 20px;
  }
  .index-client__box {
    width: 500px;
  }
  .index-client__bg-img {
    width: 350px;
    margin-left: 69px;
  }
  .index-client__list {
    width: 500px;
  }
  .index-client__caption {
    font-size: 26px;
  }
}
.main-footer {
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  background-position: center;
}
.main-footer__box {
  background-color: #D7D7D7;
  color: #122F5E;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-footer__caption {
  width: 100%;
  text-align: center;
}
.main-footer__text {
  width: 40%;
  padding-left: 20px;
}
.main-footer__list {
  width: 47%;
  list-style: none;
  padding-left: 0;
}
.main-footer__item {
  background-repeat: no-repeat;
  background-size: 15px;
  margin-bottom: 10px;
  background-position: top left;
  padding-left: 20px;
}
.main-footer__link {
  text-decoration: none;
  color: #122F5E;
}
.main-footer__item--phone {
  background-image: url("../images/phone.png");
}
.main-footer__item--mail {
  background-image: url("../images/mail.png");
}

.advantage {
  background-color: #6E8EB4;
  padding-top: 25px;
  padding-bottom: 25px;
}
.advantage__box {
  background-color: #D7D7D7;
  color: #7EA4C7;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.advantage__caption {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.advantage__list {
  margin: 0;
  padding-left: 20px;
  padding-right: 10px;
}
.advantage__list--big {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantage__item {
  list-style: none;
  padding-left: 40px;
  background-image: url("../images/check-mark.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 16px;
}
.advantage__item--big {
  list-style: none;
  width: 50%;
  text-align: center;
}
.advantage__img {
  width: 320px;
  height: 146px;
  border-radius: 25px;
  margin-top: -10px;
}
.advantage__link {
  color: #7EA4C7;
  text-decoration: none;
  padding-left: 40px;
  background-image: url("../images/company.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 16px;
  margin-left: 20px;
}
.advantage__text--bold {
  font-size: 20px;
  font-weight: bold;
}
.advantage__caption--dark {
  color: #122F5E;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.advantage__text--dark {
  color: #122F5E;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .advantage {
    font-size: 20px;
  }
  .advantage__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .advantage__list--big {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .advantage__caption {
    width: 100%;
    font-size: 26px;
  }
  .advantage__text--bold {
    font-size: 26px;
  }
  .advantage__item {
    padding-left: 0;
    width: 30%;
    padding-top: 40px;
    background-size: 40px;
    background-position: center top;
  }
  .advantage__img {
    width: 768px;
    height: 352px;
    margin-bottom: 20px;
  }
  .advantage__link {
    background-size: 24px;
  }
}
@media (min-width: 1200px) {
  .advantage {
    font-size: 18px;
  }
  .advantage__box {
    width: 500px;
  }
  .advantage__caption {
    width: 460px;
    font-size: 24px;
  }
  .advantage__list {
    padding: 0;
  }
  .advantage__text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantage__img {
    width: 500px;
    height: 229px;
  }
}
.price {
  background-color: #7EA4C7;
  color: #122F5E;
  padding-top: 25px;
  padding-bottom: 25px;
}
.price__link {
  color: #122F5E;
  text-decoration: none;
}

@media (min-width: 768px) {
  .price__caption {
    width: 100%;
    text-align: center;
  }
  .price__text {
    width: 100%;
  }
}
.about-services {
  background-color: #7EA4C7;
  color: #122F5E;
  padding-top: 25px;
  padding-bottom: 25px;
}
.about-services__caption {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.about-services__text {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}