@font-face {
    font-family: "opsans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: "opsansbold";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
  